# Vagrant folder
.vagrant/

# ID project files
.idea/
nbproject/

# Local configuration files
local.env
local.*.env

# Composer dependencies.
application/vendor/

*.aes

# Credentials for calls to Google.
google-auth.json

# PHP-CS-Fixer cache file.
.php_cs.cache
.php-cs-fixer.cache

dockercfg

# PHPUnit
.phpunit.result.cache
