### Required ENV vars ###

# The code name of this IdP (lowercased, hyphens if needed).
# Example: "acme"
IDP_NAME=

# The ID Broker adapter to use. See IdBrokerBase::ADAPTER_* constants for
# possible values. For tests, use "fake".
ID_BROKER_ADAPTER=

# The authorization token to use for calls to the ID Broker.
ID_BROKER_CONFIG_accessToken=

# Whether or not to assert that the IP address for ID Broker API is trusted.
ID_BROKER_CONFIG_assertValidIp=

# The URL to the ID Broker.
# Example: http://id-broker.example.com
ID_BROKER_CONFIG_baseUrl=

# Comma-delimited list of trusted IP address ranges (CIDR) for ID Broker API.
ID_BROKER_CONFIG_trustedIpRanges=

# The ID Store adapter to use. See IdStoreBase::ADAPTER_* constants for possible
# values. For tests, use "fake".
ID_STORE_ADAPTER=

### Define variable(s) appropriate for the configured ID_STORE_ADAPTER
# Unused variables must not be defined

### Required values for Fake ID Store (when ID_STORE_ADAPTER=fake): (none)

### Required values for Google Sheets ID Store (when ID_STORE_ADAPTER=googlesheets):
#ID_STORE_CONFIG_applicationName=
#ID_STORE_CONFIG_jsonAuthFilePath=
#ID_STORE_CONFIG_spreadsheetId=

#### Required values for Workday ID Store (when ID_STORE_ADAPTER=workday):
#ID_STORE_CONFIG_apiUrl=
#ID_STORE_CONFIG_username=
#ID_STORE_CONFIG_password=
# `groupsFields` is a comma-delimited list of Workday fields used to create the
# 'groups' field on the ID Broker. The content of each field is converted from
# space-delimited to comma-delimited and merged together to form the 'groups' field.
#ID_STORE_CONFIG_groupsFields=

#### Required values for Sage People ID Store (when ID_STORE_ADAPTER=sagepeople):
#ID_STORE_CONFIG_authUrl=https://login.salesforce.com/services/oauth2/token
#ID_STORE_CONFIG_queryUrl=https://example.my.salesforce.com/services/data/v20.0/query
#ID_STORE_CONFIG_client_id=your_client_ID_goes_here
#ID_STORE_CONFIG_client_secret=your_client_secret_goes_here
#ID_STORE_CONFIG_username=your_username
#ID_STORE_CONFIG_password=your_password
#ID_STORE_CONFIG_queryConditions=ID != null

# Comma-delimited list of authorization tokens ID Sync will accept.
# Example: abc123,def456
# NOTE: To run tests, make sure "abc123" is in that list.
ID_SYNC_ACCESS_TOKENS=

### Required values IF a NOTIFIER_EMAIL_TO value (optional, below) is provided.
#EMAIL_SERVICE_accessToken=
#EMAIL_SERVICE_assertValidIp=
#EMAIL_SERVICE_baseUrl=
#EMAIL_SERVICE_validIpRanges=


### Optional ENV vars ###

# Where to email error logs.
#ALERTS_EMAIL=

## [prod|dev|test], app defaults to prod
#APP_ENV=

# A securely-random string value to use for validating cookies.
#COOKIE_VALIDATION_KEY=

# The user-friendly version of the name of this IdP.
# Example: "Acme"
#IDP_DISPLAY_NAME=

## Email notification config. Do not provide a NOTIFIER_EMAIL_TO email address
## if you do not want to send HR notification emails.
#NOTIFIER_EMAIL_TO=

# To allow creation of users with no email address, set this to 'true'
#ALLOW_EMPTY_EMAIL=

# Enable email notification to HR Contact upon creation of a new user, if set to 'true'
#ENABLE_NEW_USER_NOTIFICATION=false

#COMPOSER_AUTH=
#SYNC_SAFETY_CUTOFF=

#TEST_ID_SYNC_BASE_URL=http://app:80
#TEST_GOOGLE_SHEETS_CONFIG_applicationName=
#TEST_GOOGLE_SHEETS_CONFIG_jsonAuthFilePath=
#TEST_GOOGLE_SHEETS_CONFIG_spreadsheetId=
#TEST_GOOGLE_SHEETS_EMPLOYEE_ID=
#TEST_WORKDAY_CONFIG_apiUrl=https://services1.myworkday.com/ccx/service/customreport2/acme/Test_User/My_Custom_Report?format=json
#TEST_WORKDAY_CONFIG_username=Test_User
#TEST_WORKDAY_CONFIG_password=abc123!@#
#TEST_WORKDAY_EMPLOYEE_ID=1234567
#TEST_SAGE_PEOPLE_CONFIG_authUrl=https://login.salesforce.com/services/oauth2/token
#TEST_SAGE_PEOPLE_CONFIG_queryUrl=https://example.my.salesforce.com/services/data/v20.0/query
#TEST_SAGE_PEOPLE_CONFIG_clientId=test_client_ID_goes_here
#TEST_SAGE_PEOPLE_CONFIG_clientSecret=test_client_secret_goes_here
#TEST_SAGE_PEOPLE_CONFIG_username=test_username
#TEST_SAGE_PEOPLE_CONFIG_password=test_password
#TEST_SAGE_PEOPLE_CONFIG_queryConditions=ID != null
#TEST_SAGE_PEOPLE_EMPLOYEE_ID=12345
#TEST_SECURE_USER_CONFIG_apiUrl=https://example.com
#TEST_SECURE_USER_CONFIG_apiKey=abc123
#TEST_SECURE_USER_CONFIG_apiSecret=abc123
#TEST_SECURE_USER_EMPLOYEE_ID=123456


# (optional) IP Address of development machine. Used for Xdebug connection.
#REMOTE_DEBUG_IP=
