### Required ENV vars ###

# The ID Broker adapter to use. See IdBrokerBase::ADAPTER_* constants for
# possible values. For tests, use "fake".
ID_BROKER_ADAPTER=

# The authorization token to use for calls to the ID Broker.
ID_BROKER_ACCESS_TOKEN=

# The URL to the ID Broker.
# Example: http://id-broker.example.com
ID_BROKER_BASE_URL=

# The ID Store adapter to use. See IdStoreBase::ADAPTER_* constants for possible
# values. For tests, use "fake".
ID_STORE_ADAPTER=

### Required values for Fake ID Store: (none)

### Required values for Insite ID Store:
ID_STORE_API_KEY=
ID_STORE_API_SECRET=

# The URL to the ID Store.
# Example: http://id-store.example.com
ID_STORE_BASE_URL=

# Comma-delimited list of authorization tokens ID Sync will accept.
# Example: abc123,def456
# NOTE: To run tests, make sure "abc123" is in that list.
ID_SYNC_ACCESS_TOKENS=


### Optional ENV vars ###

# [prod|dev|test], app defaults to prod
APP_ENV=
COMPOSER_AUTH=
TEST_INSITE_API_KEY=
TEST_INSITE_API_SECRET=
TEST_INSITE_BASE_URL=
TEST_INSITE_EMPLOYEE_ID=
