### Required ENV vars ###

# The code name of this IdP (lowercased, hyphens if needed).
# Example: "acme"
IDP_NAME=

# The ID Broker adapter to use. See IdBrokerBase::ADAPTER_* constants for
# possible values. For tests, use "fake".
ID_BROKER_ADAPTER=

# The authorization token to use for calls to the ID Broker.
ID_BROKER_CONFIG_accessToken=

# Whether or not to assert that the IP address for ID Broker API is trusted.
ID_BROKER_CONFIG_assertValidIp=

# The URL to the ID Broker.
# Example: http://id-broker.example.com
ID_BROKER_CONFIG_baseUrl=

# Comma-delimited list of trusted IP address ranges (CIDR) for ID Broker API.
ID_BROKER_CONFIG_trustedIpRanges=

# The ID Store adapter to use. See IdStoreBase::ADAPTER_* constants for possible
# values. For tests, use "fake".
ID_STORE_ADAPTER=


### Required values for Fake ID Store (when ID_STORE_ADAPTER=fake): (none)

### Required values for Insite ID Store (when ID_STORE_ADAPTER=insite):
ID_STORE_CONFIG_apiKey=
ID_STORE_CONFIG_apiSecret=

# The URL to the ID Store.
# Example: http://id-store.example.com
ID_STORE_CONFIG_baseUrl=

### Required values for Google Sheets ID Store (when ID_STORE_ADAPTER=googlesheets):
ID_STORE_CONFIG_applicationName=
ID_STORE_CONFIG_jsonAuthFilePath=
ID_STORE_CONFIG_spreadsheetId=

#### Required values for Workday ID Store (when ID_STORE_ADAPTER=workday):
ID_STORE_CONFIG_apiUrl=
ID_STORE_CONFIG_username=
ID_STORE_CONFIG_password=


# Comma-delimited list of authorization tokens ID Sync will accept.
# Example: abc123,def456
# NOTE: To run tests, make sure "abc123" is in that list.
ID_SYNC_ACCESS_TOKENS=

### Required values IF a NOTIFIER_EMAIL_TO value (optional, below) is provided.
#EMAIL_SERVICE_accessToken=
#EMAIL_SERVICE_assertValidIp=
#EMAIL_SERVICE_baseUrl=
#EMAIL_SERVICE_validIpRanges=


### Optional ENV vars ###

# Where to email error logs.
#ALERTS_EMAIL=

## [prod|dev|test], app defaults to prod
#APP_ENV=

# A securely-random string value to use for validating cookies.
#COOKIE_VALIDATION_KEY=

# The user-friendly version of the name of this IdP.
# Example: "Acme"
#IDP_DISPLAY_NAME=

## Email notification config. Do not provide a NOTIFIER_EMAIL_TO email address
## if you do not want to send HR notification emails.
#NOTIFIER_EMAIL_TO=

#COMPOSER_AUTH=
#LOGENTRIES_KEY=
#SYNC_SAFETY_CUTOFF=
#TEST_GOOGLE_SHEETS_CONFIG_applicationName=
#TEST_GOOGLE_SHEETS_CONFIG_jsonAuthFilePath=
#TEST_GOOGLE_SHEETS_CONFIG_spreadsheetId=
#TEST_GOOGLE_SHEETS_EMPLOYEE_ID=
#TEST_ID_SYNC_BASE_URL=
#TEST_INSITE_CONFIG_apiKey=
#TEST_INSITE_CONFIG_apiSecret=
#TEST_INSITE_CONFIG_baseUrl=
#TEST_INSITE_EMPLOYEE_ID=
#TEST_WORKDAY_CONFIG_apiUrl=
#TEST_WORKDAY_CONFIG_username=
#TEST_WORKDAY_CONFIG_password=
#TEST_WORKDAY_EMPLOYEE_ID=
